<h2><%= @wishlist.title %></h2>
<p><%= @wishlist.description %></p>
<p id="notice"><%= notice %></p>


<div class="large-12">
  <div class="large-4 columns"><%= @wishlist.user.user_name %></div>
  <div class="large-8 columns text-right"></div>
</div>
<br></br>
<% if @wishlist.wishes.first.new_record? %>
	<h5>Keine Wünsche:</h5>
<% else %>
	<h5>Wünsche:</h5>
		<table class="large-12 column">
	<% @wishlist.wishes.each do |wish| %>
		<% unless wish.new_record? %>

    <% if user_signed_in? && current_user.id == @wishlist.user_id %>
  	        	<tr class="not_occupied">
	              <td class="large-9"><%= wish.name %></td>
	              <td class="large-1"><%= wish.price %> &euro;</td>
	              <td class="large-1"><%= link_to "Edit", edit_wish_path(wish.id) %></td>
	              <td class="large-1"><%= link_to 'Destroy', wish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	            </tr>
    <% else %>
          <%if wish.occupied_flag? %> 
            <% occupied_flag_value = "is_occupied" %>
          <% else %>
            <% occupied_flag_value = "not_occupied" %>
          <% end %>
			<tr class="<%= occupied_flag_value %>">
              <td class="large-6"><%= wish.name %></td>
              <td class="large-1"><%= wish.price %> &euro;</td>
              <td class="large-2"><%= link_to "Jetzt kaufen!", wish.link %></td>
              <td class="large-3"><%= link_to "Jetzt Wunsch reservieren!", reserve_path(wish.id) %> </td>
			</tr> 
    <% end %>
    <% end %>
  <% end %>
<% end %>

          </table>
<%= form_for(@wish) do |f| %>
  <% if @wish.errors.any? %>
    <% @errors = @wish.errors%>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

      <ul>
      <% @wish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_signed_in? %>
		<p id="alert"><%= alert %></p>
		<div class="row collapse">
		    <div class="small-3 large-2 columns">
		      <span class="prefix"><%= f.label :name %></span>
		    </div>
		        <div class="small-9 large-10 columns">
		          <%= f.text_field :name %>
		        </div>
		  </div>
		<div class="row collapse">
		    <div class="small-3 large-2 columns">
		      <span class="prefix"><%= f.label :price %></span>
		    </div>
		        <div class="small-9 large-10 columns">
		          <%= f.text_field :price %>
		        </div>
		  </div>
		  <div class="row collapse">
		    <div class="small-3 large-2 columns">
		      <span class="prefix"><%= f.label :link %></span>
		    </div>
		        <div class="small-9 large-10 columns">
		          <%= f.text_field :link %>
		        </div>
		  </div>
		  <%= f.hidden_field :wishlist_id %>
		  <div class="actions">
		    <%= f.submit "Create Wish", :class => "button" %>
		  </div>
		<% end %>
 <% end %>



<%= form_tag(send_mail_wishlist_path, method:"post") do %>
<div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix">Friends Email:</span>
    </div>
        <div class="small-6 large-8 columns">
          <%= text_field_tag(:email) %> 
        </div>

        <div class="small-3 large-2 columns">
          <%= submit_tag("Send to friend", :class => "button prefix") %> 
        </div>
  </div>
<% end %> 

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>


<div class="fb-share-button" data-href="<%= url_for(wishlist_url) %>" data-type="button"></div>
