<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @wishlist.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user.user_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wishlist.description %>
</p>

<% if @wishlist.wishes.first.new_record? %>
	<p>Keine Wünsche</p>
<% else %>
	<p>Wünsche:</p>
	<% @wishlist.wishes.each do |wish| %>
		<% unless wish.new_record? %>
    <% if user_signed_in? && current_user.id == @wishlist.user_id %>
            <div class="not_occupied">
            <%= wish.name %><br>
            <%= wish.price %><br>
            <%= link_to "Jetzt kaufen!", wish.link %>
            </div>
    <% else %>
          <%if wish.occupied_flag? %> 
            <% occupied_flag_value = "is_occupied" %>
          <% else %>
            <% occupied_flag_value = "not_occupied" %>
          <% end %>
        <div class="<%= occupied_flag_value %>">
      <%= wish.name %><br>
      <%= wish.price %><br>
      <%= link_to "Jetzt kaufen!", wish.link %><br>
      <%= link_to "Jetzt Wunsch reservieren!", reserve_path(wish.id) %> 
      </div>  
    <% end %>
    <% end %>
  <% end %>
<% end %>
<%= form_for(@wish) do |f| %>
  <% if @wish.errors.any? %>
    <% @errors = @wish.errors%>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

      <ul>
      <% @wish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="alert"><%= alert %></p>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <%= f.hidden_field :wishlist_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= form_tag(send_mail_wishlist_path, method:"post") do %>
  <%= text_field_tag(:email) %> 
  <%= submit_tag("Send to friend") %> 
<% end %> 

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>